<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <!-- fonticon sample -->
    <link rel="stylesheet" href="<%- appconfig.urls.app %>/fonts/css/gulppage.css" type='text/css' media='all' />

    <!-- google font for the demo -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,400,900|Permanent+Marker|Open+Sans:300,400,600|Short+Stack:400' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="<%- appconfig.urls.app %>/style/stylesheet-<%- appconfig.version %>.css">
    
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>