<% include include/html/head %>
<% include include/navbar %>
<div class="pinlist-wrapper">
    <div class="title" data-pinlist-title></div>
    <div class="pins-wrapper" data-pinlist-list></div>
</div>
<div class="map-wrapper"> 
    <div id="map"></div>
</div>
<% include include/html/foot %>